<table align="center" class="container float-center">
    <tbody>
        <tr>
            <td>
                <table class="spacer">
                    <tbody>
                        <tr>
                            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                        </tr>
                    </tbody>
                </table>
                <table class="row">
                    <tbody>
                        <tr>
                            <th class="small-12 large-12 columns first">
                                <table>
                                    <tr>
                                        <th>
                                            <table class="spacer">
                                                <tbody>
                                                    <tr>
                                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h1 class="text-center">Forgot Your Password?</h1>
                                            <table class="spacer">
                                                <tbody>
                                                    <tr>
                                                        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p class="text-center">It happens. Click the link below to reset your password.</p>
                                            <table class="button highlight large expand">
                                                <tr>
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <center data-parsed="">
                                                                        <a href="{{ linkToFrontend }}" align="center" class="float-center">Reset Password</a>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                            <p class="text-center">If the button not works use the link below.</p>
                                            <p class="text-center">{{ linkToFrontend }}</p>
                                            <hr> {{> footer}}
                                        </th>
                                        <th class="expander"></th>
                                    </tr>
                                </table>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>