<table class="row">
    <tbody>
        <tr>
            <th class="small-12 large-12 columns last">
                <table>
                    <tr>
                        <th>
                            <center data-parsed="">
                                <table align="center" class="menu float-center">
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <th
                                                        class="menu-item float-center"
                                                    >
                                                        <a href="#">heyhey</a>
                                                    </th>
                                                    <th
                                                        class="menu-item float-center"
                                                    >
                                                        <a href="#"
                                                            >Privacy policy</a
                                                        >
                                                    </th>
                                                    <th
                                                        class="menu-item float-center"
                                                    >
                                                        <a href="#">Facebook</a>
                                                    </th>
                                                    <th
                                                        class="menu-item float-center"
                                                    >
                                                        <a href="#">Twitter</a>
                                                    </th>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
    </tbody>
</table>
